
/* Components */
#frame{
  overflow:scroll;
}

/* Logo Elements */
#entireLogo{
  display:table-cell;
  vertical-align:middle;
  padding-left: 50px;
}
#logoContainer{
  display:table;
}
#logoContainer{
  background-color: white;
  float:left;
  border: 3px solid black;
  box-shadow: 3px 7px black;
}

  /* Logo: Graphic portion */
#logoWrap{
  display:table-cell;
  vertical-align: middle;
}
#logo{
  height:100px;
  width:100px;
}

  /* Logo: Text portion */
#twitchDashboardName{
  vertical-align: middle; 
  display: table-cell;
  padding: 0px 0px 0px 25px;
}
#twitchName{
  color:#6441a5;
  display: inline;
}
#dashName{
  color:black;
  display: inline;
}
#title{
  border: 3px solid black;
  background-color: #503484;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color:white;
  text-align:center;
  position: fixed;
  width: 100%;
  height: 150px;
  margin-top: -10px;
  margin-left: -10px;
  display:table;
}

/* Searchbar elements */
#searchWrap{
  display:table-cell;
  vertical-align:middle;
  padding-left: 75px;
}
#searchTable{
  display:table;
}
#searchQuery{
  height: 50px;
  font-size: 20px;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
  color: #2a1c44;
  border-radius: 10px;
  border:  #6441a5ad;
  display:table-cell;
  vertical-align:middle;
  width:500px;
}
#searchButton{
  color:  white;
  padding: 10px 10px;
  display:table-cell;
  vertical-align:middle;
  font-size: 20px;
  padding-left: 15px;
}
#searchButton:hover{
  border-bottom: 3px solid white;
  cursor: help;
  transition: 0.5s;
}

/* Home button elements*/ 
#buttonWrap{
  display:table-cell;
  vertical-align:middle;
  padding-right:50px;
}
#returnButton{
  color:  white;
  vertical-align:middle;
  font-size: 30px;
  font-family: Arial, Helvetica, Helvetica Neue;
}
#returnButton:hover{
  font-size: 30px;
  font-family: 30px Arial, Helvetica, Helvetica Neue;
  transition:0.5s;
  cursor: pointer;
}
.returnTable{
  display:table-cell;
  vertical-align:middle;
}
